/* Change font of website */
@font-face {
    font-family: "myFont";
    src: url("BrunoAceSC-Regular.ttf");
  }


/* emphasize attendance list */
.ems li {
  font-size: 1.5em;
  color: hsl(164, 70%, 50%)
}

/* Change meeting header to new color */
.meeting {
  color: #CE4F1D;
  font-size: 1vw;
}

/* Boxed and centered the title */
.underover {
  text-decoration: dashed underline overline;
  text-align: center
}

/* Change address to new size and color */
.address {
  font-size: 0.8cm;
  color: rgb(29, 29, 206);
  display: inline-block;
  min-width: 500px;
}

/* Increase font size of web page */
html {
  font-size: 20px;
  font-family: "myFont", "Bruno Ace SC";
}

/* Hide classified info (just using display:none) */
.classified {
  display: none;
}

/* Experiment with display: block on text */
.blockex {
  display: block;
  color: red;
}

/* Change margins of h2 text */
h2 {
  font-size: 3vh;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

/* Change margins of h3 text */
h3 {
  margin: 0px 0px 20px 10px;
}

/* Change padding and background color of text for unfinished business 
  section */
.unfinished {
  background-color: aliceblue;
  padding: 20px 20px 30px 40px;
}

/* Change borders for new business section*/
.newbusiness{
  background-color: blueviolet;
  border-style: double;
  border-color:aqua;
  border-width: 6px;
  border-radius: 30px;
}

/* Added padding for kirby image */
#kirby {
  padding: 20px 0px 30px 80px;
}

/* When user hovers over button, turn text green */
button:hover {
  color: green;
}

/* When user clicks  button, turn text gold */
button:active {
  color: gold;
  box-shadow: 5px 5px gold;
}

/* Changes the background-color if the viewport is 1200 pixels wide or wider 
  Zoom in to change color */
@media screen and (min-width: 1200px) {
  body {
    background-color: rgb(255, 170, 184);
  }
}

/* Applying sizing and position elements to kirby image */
.kirbytop {
  position: absolute;
  height: 70px;
  width: 100px;
  top: 5px;
  right: 5px;
}

.kirbyslep {
  position: fixed;
  height: 50pt;
  max-width: 65pt;
  bottom: 5pt;
  right: 5pt;
}

/* Using flex container */
.flexcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
}

/* Using grid container */
.gridcontainer {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;  
}

.item-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.item-2 {
  grid-area: 2 / 1 / 3 / 3;
}

.item-3 {
  /* row-start col-start row-end col-end */
  grid-area: 3 / 1 / 4 / 3;
}

.item-4 {
  grid-area: 4 / 1 / 5 / 3;
}