/* make the background of webpage pink to match Kirby's color */
body {
    background-color: pink;
}

/* Change font of website */
@font-face {
    font-family: "myFont";
    src: url("BrunoAceSC-Regular.ttf");
  }


/* emphasize attendance list */
.ems li {
  font-size: 1.5em;
  color: hsl(164, 70%, 50%)
}

/* Change meeting header to new color */
.meeting {
  color: #CE4F1D;
}

/* Boxed and centered the title */
.underover {
  text-decoration: dashed underline overline;
  text-align: center
}

/* Change address to new size and color */
.address {
  font-size: 1cm;
  color: rgb(29, 29, 206);
  display: inline-block;
}

/* Increase font size of web page */
html {
  font-size: 20px;
  font-family: "myFont", "Bruno Ace SC";
}

/* Hide classified info (just using display:none) */
.classified {
  display: none;
}

/* Experiment with display: block on text */
.blockex {
  display: block;
  color: red;
}